<!DOCTYPE html>

<html>

<head>
    <!-- Favicon -->
    <!--link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}"-->

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="/static/css/styles.css" rel="stylesheet" />
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- Datatable -->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>
    <title> Sabudh Foundation-Live Commodity Prices</title>
    
<body>
    
       <div class="card">
        
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            
                <!-- Logo Image -->
            <img src="{{url_for('static', filename='logo.png')}}" width="120" alt="  " class="d-inline-block align-right mr-2" >
            
            <span class="navbar-brand ps-3 text-uppercase font-weight-bold ">Commodity Prices</span>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('graphs') }}" >
                            <button class="btn btn-success mt-3 ">Present Graph</button></a>
                    </li>
                   
            </div>    
        </div>
        </nav>
        <div class="card-body">
            
            <h1>Live Commodity Prices</h1>
            <form method="post" action="/render" >
                <button class="btn btn-success mt-2">Render CSV</button>
            </form>

            <div class="mt-4">
                {% if request.method == 'POST'%}
                <table id="proxies" class="display table nowrap responsive" style="width: 100%">
                    <thead>
                        <tr>
                            {% for header in results[0].keys() %}
                            <th>{{header}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in results %}
                        <tr>
                            {% for index in range(0, len(fieldnames)) %}
                            <td>{{row[fieldnames[index]]}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $('#proxies').DataTable();
</script>

</html>